<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/ViewHelpers"
			data-namespace-typo3-fluid="true"
			lang="en">

<f:flashMessages />

<h1>Deep Chat</h1>
<!-- Attributes can be set as strings either directly on the element (demo/textInput) or via a `setAttribute` method on its reference (introMessage).
	When passing JSON objects make sure that they are first correctly stringified (use the following tool https://jsonlint.com/), functions assigned
	to properties must not have external references and all regex values are properly escaped.
	You can also pass values into the component via properties by using the element reference (history).
	-->

<style>
	:root {
		--easychat-chatbot-width: 96vw;easy
		--easychat-chatbot-max-width: 400px;
		--easychat-shine-degree: 120deg;
		--easychat-shine-color: rgba(255, 255, 255, 0.2);
		--easychat-shine-effect: linear-gradient(var(--easychat-shine-degree), transparent, var(--easychat-shine-color), transparent);
		--easychat-shine-transition: all #{$anim-speed}s ease-in-out;
		--easychat-border-color: rgba(0,0,0,.3);
	}
</style>

<div class="easychat" aria-live="polite">

	<div class="easychat__nagscreen" hidden>
		<button>
			<span class="show-for-sr">Schließen</span>
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_1505_4881)">
					<path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 10.586L9.172 7.757L7.757 9.172L10.586 12L7.757 14.828L9.172 16.243L12 13.414L14.828 16.243L16.243 14.828L13.414 12L16.243 9.172L14.828 7.757L12 10.586Z" fill="#fff"/>
				</g>
			</svg>
		</button>
		<b>Chatbot:</b><br>
		Ask questions here
	</div>

	<div class="chatbot" hidden id="chatbot">
		<div class="chatbot__stage">

			<f:render section="ChatbotHeader" arguments="{additionalAttributes: ' hidden', showEasychatToggle: 1}"/>

			<div class="chatbot__consent" hidden>
				<div class="chatbot__image">

				</div>

				<div class="chatbot__content">
					<f:render section="ChatbotHeader"/>
					<div class="chatbot__text"><f:format.html>{settings.dataProtectionConsentText}</f:format.html></div>
				</div>

				<div class="chatbot__buttons">
					<button class="consent-button button tertiary">
						{settings.dataProtectionConsentButtonYes}
					</button>
					<button class="consent-button button tertiary hollow easychat__toggle">
						{settings.dataProtectionConsentButtonNo}
					</button>
				</div>
			</div>

			<f:variable name="styles" value="{f:render(partial: 'Styles.css')}"/>

			<f:variable name="connect" value="{
				url: settings.url,
				method: 'POST',
				headers: {
					accept: 'application/json',
					x-api-key: settings.apiKey
				}
			}"/>

			<f:variable name="inputPlaceholder" value="{placeholder: {text: settings.placeholder}}"/>

			<deep-chat id="chat-assistant"
					   connect="{connect->f:format.json()}"
					   textInput="{inputPlaceholder->f:format.json()}"
					   auxiliaryStyle="{styles}"
					   style="border: none; width: 100%; height: 100%;"
					   hidden
			></deep-chat>

		</div>
	</div>

	<p class="revoke" hidden>
		<button class="revoke-button small">Zustimmung zur Nutzung des Assistenten widerrufen</button>
	</p>

	<div class="easychat__home">
		<button id="easychat__toggle" class="easychat__toggle" aria-expanded="false" aria-controls="#chatbot">
			<svg width="84" height="82" viewBox="0 0 84 82" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M 64.771,66.6667 83.3335,81.25 V 4.16667 c 0,-1.10507 -0.439,-2.16488 -1.2204,-2.94628 C 81.3317,0.438987 80.2719,0 79.1668,0 H 4.16682 C 3.06175,0 2.00195,0.438987 1.22054,1.22039 0.43914,2.00179 1.52588e-4,3.0616 1.52588e-4,4.16667 V 62.5 c 0,1.1051 0.438987412,2.1649 1.220387412,2.9463 0.78141,0.7814 1.84121,1.2204 2.94628,1.2204 z" fill="#005ca9"/>
			</svg>
		</button>
	</div>
</div>


<f:asset.script type="module" priority="true" identifier="deepChat.bundle" src="EXT:easychat/Resources/Public/deepChat.bundle.js" />

<f:comment>
	!!Either set the script as "module" or place your code in a timeout in order to wait for the component to load
</f:comment>
<f:asset.script type="module" identifier="deepChat.config">
	<f:render partial="Script.js"/>
</f:asset.script>

<f:section name="ChatbotHeader">
	<div class="chatbot__header"{additionalAttributes}>
		<div class="chatbot__logo"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="40" height="40" rx="20" fill="white"/>
			<rect width="40" height="40" rx="20" fill="white"/>
		</svg></div>
		<div class="chatbot__title">Chatbot title</div>
		<f:if condition="{showEasychatToggle}">
		    <button class="easychat__toggle" aria-expanded="false" aria-controls="#chatbot">
				<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.41406 1.41431L6.41406 6.41431" stroke="#FEF7EC" stroke-width="2" stroke-linecap="square"/>
					<path d="M11.4141 1.41431L6.41406 6.41431" stroke="#FEF7EC" stroke-width="2" stroke-linecap="square"/>
				</svg>
			</button>
		</f:if>
	</div>
</f:section>
</html>


